{% extends "base.html" %}

{% block title %}Guitar Catalog{% endblock title %}

{% block content %}
{% for guitar in guitar_list %}
    <div class="card">
        <img src="{{ guitar.image.url }}" class="card-img-top" alt="">
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ guitar.get_absolute_url }}">{{ guitar.name }}</a>
            </h4>
            <p class="card-text">{{ guitar.brand }}</p>
            <p class="card-text">${{ guitar.price }}</p>
        </div>
    </div>
{% endfor %}
{% endblock content %}